{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
<title> Modifier protocoles </title>
{% endblock %}


{% block app_content %}

    <form method= "POST" action="/">
        {{ form.csrf_token }}
        <dl>
            {{ wtf.form_field(form.Implantation) }}
            {{ wtf.form_field(form.InstallationPatient) }}
            {{ wtf.form_field(form.Antenne) }}
            <div class = "container">
                {{ form.Séquences.label }}
                {% for child in form.Séquences %}
                    {% for element in child %}
                    {{wtf.form_field(element)}}
                {% endfor %}
                {% endfor %}
            </div>
            {{ wtf.form_field(form.Injection) }}
            {{ wtf.form_field(form.Protocole_machine) }}
            {{ wtf.form_field(form.Durée_acquisition) }}
            {{ wtf.form_field(form.Durée_examen) }}
            {{ wtf.form_field(form.Durée_bloc_irm ) }}
            {{ wtf.form_field(form.Date_création) }}
            {{ wtf.form_field(form.Date_dernière_modification) }}
            {{ wtf.form_field(form.Auteur) }}
            {{ wtf.form_field(form.Statut) }}
        <input type = "submit" >
        </dl>
    </form>
{% endblock %}






{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Modifier protocoles</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
