{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
Modifier protocoles
{% endblock %}


{% block app_content %}

<h1>{{title}}</h1>

<form class="form protocol-form" method="post" role="form">
    {{ wtf.quick_form(form, form_type='horizontal') }}
    <!-- {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }} 
    {% for field in form %}
        {{wtf.form_field(field, class="form-control form-inline")}}
    {% endfor %} -->
<button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
{% endblock %}
