<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<!------ Include the above in your HEAD tag ---------->

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>Bonjour, {{ current_user.username }}.</h1>
  <br>

<div class="row mt-10">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel-group" id="level1-accordion">
      {% for ele1 in dicts_all%}
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#96ceb4; color:#FFFFFF">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#level1-accordion" href="#{{ele1.id}}" class="collapsed">
                            {{ele1.name}}
            </a>
          </h4>
        </div>
          <div id="{{ele1.id}}" class="panel-collapse collapse">
              <div class="panel-body" style="background-color:#96ceb4; color:#464a4f">
                <div class="panel-group" id="level2-accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    {% for ele2 in ele1.list %}
                    <div class="panel-heading" role="tab" style="background-color:#ffeead; color:#464a4f" >
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#level2-accordion" href="#{{ele2.id}}" aria-expanded="true" aria-controls="plast-pro-2">
                          {{ele2.name}}
                        </a>
                      </h4>
                        <div id="{{ele2.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingcerveau">
                          <div class="panel-body" style="background-color:#ffeead;">
                            <div class="panel-group" id="level3-accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                {% for ele3 in ele2.list %}
                                <div class="panel-heading" role="tab" id="headingcerveau" style="background-color:#ff6f69; color:#FFFFFF" >
                                  <h4 class="panel-title">
                                    <a class="text-left collapsed" role="button" data-toggle="collapse" data-parent="#level3-accordion" href="#{{ele3.id}}" aria-expanded="true" aria-controls="plast-pro-3">
                                      {{ele3.name}}
                                    </a>
                                  </h4>
                                  <div id="{{ele3.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingcerveau">
                                    <div class="panel-body">
                                      <div class="panel-group" id="level3-accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                          {% for ele4 in ele3.list %}
                                          <div class="panel-heading" role="tab" id="headingcerveau" style="background-color:#ffcc5c; color:#464a4f">
                                            <h4 class="panel-title">
                                              <a class="text-left collapsed" role="button" data-toggle="collapse" data-parent="#level3-accordion" href="#{{ele4.id}}" aria-expanded="true" aria-controls="plast-pro-3">
                                                  {{ele4.name}}
                                              </a>
                                            </h4>
                                            <div id="{{ele4.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingcerveau">
                                              <div class="panel-body" >
                                                <div class="panel-group" id="level3-accordion" role="tablist" aria-multiselectable="true">
                                                  <div class="panel panel-default">
                                                    {% for ele5 in ele4.list %}
                                                    <div class="panel-heading" role="tab" id="headingcerveau" style="background-color:#f9cbd0; color:#464a4f">
                                                      <h4 class="panel-title">
                                                        <a class="text-left collapsed" role="button" data-toggle="collapse" data-parent="#level3-accordion" href="#{{ele5.id}}" aria-expanded="true" aria-controls="plast-pro-3" >
                                                            {{ele5.name}}
                                                        </a>
                                                      </h4>
                                                      <div id="{{ele5.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <p><a href="{{ url_for('main.edit_protocols', id = ele5.id) }}" class="btn btn-default pull-right">Edit</a><p>

                                                        {% for ele6 in ele5.list %}
                                                          <p><strong>{{ele6.name}}: </strong>
                                                            {% for ele7 in ele6.list %}
                                                              {% if ele7 is not mapping %}
                                                                {% if ele6.list[0] == True %}
                                                                  Oui </p>
                                                                {% elif ele6.list[0]== False %}
                                                                  Non </p>
                                                                {% else %}
                                                                  {{ele6.list[0]}}</p>
                                                                {% endif %}
                                                              {%endif%}

                                                              {% if ele7 is mapping%} {# pour injection et sequence #}
                                                                {%if ele6.name == 'Injection'  %}
                                                                  {%if ele7.name == 'Contraste' and ele7.list[0] == False %}
                                                                  <ul style="list-style-type:disc">
                                                                    <li><strong>{{ele7.name}}: </strong> Non </li>
                                                                  </ul>
                                                                    {%break%}
                                                                  {% else %}
                                                                  <ul style="list-style-type:disc">
                                                                    <li><strong>{{ele7.name}}: </strong>
                                                                      {%if ele7.list[0] == True %}
                                                                        Oui
                                                                      {%else %}
                                                                        Non
                                                                      {%endif%}</li>
                                                                  </ul>
                                                                  {%endif %}

                                                                {%elif ele6.name == 'Séquences' %}
                                                                  {%if ele7.name == 'Nom'%}
                                                                  <ul style="list-style-type:disc" align = "left">
                                                                    <li><strong>{{ele7.name}}: </strong> {{ele7.list[0]}} ---
                                                                  {% elif ele7.name == 'Durée'%}
                                                                  <strong> {{ele7.name}}: </strong> {{ele7.list[0]}}</li>
                                                                  </ul>
                                                                  {%endif%}

                                                                {% else %}
                                                                  <ul style="list-style-type:disc">
                                                                    <li><strong>{{ele7.name}}: </strong>
                                                                      {% if ele7.list[0] == True %}
                                                                        Oui </li>
                                                                      {% elif ele7.list[0]== False %}
                                                                        Non </li>
                                                                      {%else%}
                                                                      {{ele7.list[0]}}</li>
                                                                      {%endif%}
                                                                  </ul>
                                                                {%endif %}
                                                              {%endif%}

                                                            {%endfor%}

                                                        <hr noshade style="margin:10px" color= "#000000" >
                                                        {%endfor%}



                                                      </div>
                                                    </div>
                                                    {% endfor %}
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
