 /* Add custom styles here */
.navbar {
  margin-bottom: 20px;
}
.card-header p {
margin-bottom: 0;
}

/* General styling */

.protocols  {
padding: 30px 0;
}

.protocols .title {
padding: 10px 0 20px 0;
}

/* Index styling */

.protocols .card {
margin-bottom: 1rem;
}

.form-label, .form-title {
  font-weight: bold;
}

.protocols .list .form-label:after {
  content: "|";
}

.protocols .edit-btn {
  background: #f7f7f7;
}

.protocols a.accordion-link {
  color: #333;
}

/* View protocol */

.breadcrumb-wrapper {
  display: inline-block;
  float:left;
  margin: 0;
  padding: 0;
}

.breadcrumb-wrapper ol {
  margin:0;
  background: none;
  padding: 0;
}

/* Protocol form styling*/

.protocol-form {
  margin-bottom: 30px;
}

.form-control {
font-size: 0.8rem;
}

.protocol-form .card-body {
padding: 0;
}

.protocol-form .card-header {
padding: 10px 15px;
}

.form-title {
  margin-bottom: 20px;
}

.protocol-form label,
.protocol-for input {
  font-size: 0.8rem;
}

.protocol-form .field-title {
  /*padding-left: 15px;*/
  margin-top: 10px;
}

.protocol-form .subform-label,
.protocol-form .subform-control {
  margin-top: 10px;
}


.protocol-form .card {
  margin-bottom: 20px;
}

.protocol-form .list-field-item label,
.protocol-form .list-field-item .form-control {
  float: left;
  display: block;
  margin-right: 30px;
}

/*.protocol-form .subform {
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 30px;
}*/

/*.protocol-form fieldset .form-group {
  border-left: 2px solid #eee;
  margin-left: 30px;
}

/* Autocomplete styling */

.autocomplete-suggestions {
  border: 1px solid #999; background: #FFF; overflow: auto;
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.autocomplete-suggestion { padding: 8px 10px; white-space: nowrap; overflow: hidden; font-size: 0.8rem;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }



.json-form textarea {
  padding-top:10px;
  padding-bottom:25px; /* increased! */
  height: 500px;
  max-height: 1000px;
  /* height:16px; */
  /* line-height:16px; */
  width:90%; /* changed from 96 to 100% */
  display:block;
}
