
{% for ele1 in dicts_all%}
{% for ele2 in ele1.list %}
{% for ele3 in ele2.list %}
<div class="panel-heading" role="tab" id="headingcerveau">
    <h4 class="panel-title">
    <a class="text-left collapsed" role="button" data-toggle="collapse" data-parent="#level3-accordion" href="#ischemie-table" aria-expanded="true" aria-controls="plast-pro-3">
                            {{ele3.name}}
    </a>
    </h4>
</div>
{% endfor %}
{% endfor %}
{% endfor %}


<div id="{{ele1.id}}" class="panel-collapse collapse">

    {% for ele2 in ele1.list %}
    <div class="panel-body">
        <div class="panel-group" id="level2-accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">

                <div class="panel-heading" role="tab" id="headingcerveau">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#level2-accordion" href="#{{ele2.id}}" aria-expanded="true" aria-controls="plast-pro-2">
                                            {{ele2.name}} #cerveau, orl, rachis
                        </a>

                        <div id="{{ele2.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingcerveau">

                            <div class="panel-body">
                                <div class="panel-group" id="level3-accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
{% for ele3 in ele2.list %}
                                        <div class="panel-heading" role="tab" id="headingcerveau">
                                            <h4 class="panel-title">
                                            <a class="text-left collapsed" role="button" data-toggle="collapse" data-parent="#level3-accordion" href="#ischemie-table" aria-expanded="true" aria-controls="plast-pro-3">
                                                                    {{ele3.name}}
                                            </a>
                                            </h4>
                                        </div>
{% endfor %}
                        {% endfor %}
                    </h4>
                </div>
                {% endfor %}
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
